@font-face {
    font-family: PT Mono;
    src: url('./fonts/PTMono-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-family: PT Mono;
}
html {
    overflow-x: hidden;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}
button:disabled {
    color: darkgray;
    cursor: not-allowed;
}
.block-body {
    width: 100%;
    min-height: 100vh;
    /* background: url("https://ipfs.io/ipfs/QmV2i3zrWF2ZzmKtzMFMFqyrAjadShFn5qwmU3ANv66BUY"); */
    background-position: top left !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 66px 0 88px 0;
    position: relative;
    background-color: #000000;
}
.link-cuber{
    position: absolute;
    bottom: 36px;
    right: 50px;
}
.logo-cuber{
    height: 44px;
}

.block-container-site {
    width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 0 0 100px;
    display: table;
    box-sizing: border-box;
}

.block-left-container-site {
    width: 50px;
    float: left;
    position: relative;
}

.block-left-container-site:after {
    content: '';
    position: absolute;
    width: 3px;
    height: calc(100% - 30px);
    top: 30px;
    right: 0;
    background: #ffffff;
}

.block-right-container-site {
    width: 1250px;
    float: right;
    position: relative;
}
.girl{
    height: 587px;
    position: absolute;
    right: 0px;
    top: 120px;
    z-index: 10;
}

p.title-left-count {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
}

p.title-func {
    color: #ffffff;
    font-size: 20px!important;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
}

p.title-func span.italic {
    color: #96d9bd;
    /* font-style: italic; */
}

.padding-left-45 {
    padding: 0 0 0 45px;
    box-sizing: border-box;
}

img.logo-top {
    height: 64px;
    margin: 39px 0 42px 0;
}

p.title-code, label.title-code {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
}

label.title-code {
    display: block;
    margin: 0!important;
}

p.title-code span.string {
    color: #90d371;
}
label.title-code input{
    background: transparent;
    height: 20px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #abb912;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    font-weight: 300;
    color: #90d371;
    padding: 0 8px;
    position: relative;
    top: -3px;
}
span.left-input{
    color: #abb912;
}
span.right-input{
    color: #abb912;
}

.block-button-white {
    height: 54px;
    border-radius: 5px;
    border: none;
    background-color: #f7f6f2;
    padding: 0 70px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Menlo;
    font-size: 25px;
    line-height: 54px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

.block-button-white p.title {
    color: #000000;
    font-size: 25px;
    line-height: 54px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

.block-graph {
    width: calc(100% - 45px);
    height: 480px;
    background: #00b3ee;
}

.warning {
    color: #FF6347;
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

.schedule {
    margin-left: 40px;
    margin-bottom: 20px;
}

.schedule span {
    font-size:40px!important;
}

.loader {
    display: inline-block;
}

.loader span {
    color: #90d371;
    font-size:30px;
    animation: blink 1.4s infinite;
    border-radius: 50%;
    animation-fill-mode: both;
}

.loader span:nth-child(2) {
    animation-delay: .2s;
}

.loader span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
